body {
  text-align: center;
  background-color: rgb(54,54,54);
  color: white;
  font-family: fantasy;
}

img {
  border-radius: 10px;
  height: 350px;
}

#button {
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  font-family: fantasy;
  width: 20%;
  background-color: blueviolet;
  color: white;
}
