* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  background-color: black;
  color: white;
  align-items: center;
  font-size: 50%;

}

.header #imgLogo {
  width: 5%;
  height: 5%;
}

.section-one #pOne {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-top: 1%;
}
.sectionImg {
  display: flex;
  flex-direction: row;
  
}

.gallery-img {
  width: 150px;
}

.social-img {
  width: 25px;
  margin-left: 10px;
}